@tailwind base; 
@tailwind components; 
@tailwind utilities; 
 
@layer base { 
	/* for elements */ 
	.body {
		@apply font-poppins bg-neutral-50 min-h-screen min-w-full max-w-full flex items-center;
	}

	.blobs {
		@apply absolute w-32 h-32 md:w-96 md:h-96 rounded-full filter blur-xl opacity-70 animate-blob;
	}

	.blob-pink {
		@apply blobs top-0 -left-10 md:-left-20 bg-fuchsia-300 mix-blend-multiply;
	}

	.blob-blue {
		@apply blobs top-0 left-32 md:left-64 bg-teal-300 mix-blend-multiply animation-delay-2000;
	}

	.blob-green {
		@apply blobs top-16 md:top-32 left-10 md:left-20 bg-lime-300 animation-delay-4000;
	}

	.navbar {
		@apply sticky top-0 z-10 bg-white backdrop-filter backdrop-blur-lg bg-opacity-10 w-full py-4 border-b border-neutral-200/20 hidden md:flex; 
	}

	.header-subtitle {
		@apply text-[2.5rem] leading-[2.75rem] md:text-7xl md:w-[81%] text-neutral-900 font-semibold md:font-medium;
	}

	.header-title {
		@apply font-extrabold text-4xl md:text-8xl;
	}

	.header-description {
		@apply text-xl md:text-5xl font-normal text-neutral-700
	}
	
	.mobile-navbar {
		@apply w-full h-screen fixed top-0 left-0 z-40 bg-white backdrop-filter backdrop-blur-lg bg-opacity-10 flex flex-col items-center justify-center md:hidden;
	}

	.mobile-nav-btn {
		@apply w-10 h-10 rounded-full bg-neutral-300 cursor-pointer z-50 items-center flex justify-center;
	}
} 

@layer components { 
	/* for classes */ 
} 
 
@layer utilities { 
	/* for text gradients, usage "text-gradient from-[color] to-[color]" */ 
	.text-gradient { 
		@apply inline-block bg-clip-text text-transparent; 
	} 
 
	/* vertical and horizontal centering */ 
	.VHcenter { 
		@apply items-center justify-center; 
	} 

	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
} 






.navList {
  padding: 100px 70px 200px 70px;
}

.nav-item {
  font-size: 20px;
  list-style: none;
  color: white;
  cursor: pointer;
}

h4 {
  margin-block-start: 1px;
  margin-block-end: 1px;
}