@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* for elements */
}

@layer components {
	/* for classes */
}

@layer utilities {
	/* for text gradients, usage "text-gradient from-[color] to-[color]" */
	.text-gradient {
		@apply inline-block bg-clip-text text-transparent;
	}

	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}

.card-zoom:hover .card-zoom-img {
	--tw-scale-x: 1.25;
	--tw-scale-y: 1.25;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.card-zoom:hover .card-zoom-icon {
	--tw-scale-x: 1.15;
	--tw-scale-y: 1.15;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	opacity: 1;
}
.card-zoom:hover .card-zoom-text {
	background-color: rgb(23 23 23 / 0.8);
}
html {
	scroll-behavior: smooth;
}
